.usersL {
  padding: 0;
  .user {
    display: flex;
    margin-top: 15px;
    .userPhoto {
      border: #000 1px solid;
      padding: 10px;
      width: 100px;
      height: 100px;
      margin-right: 15px;
    }
    .name {
      flex-grow: 1;
      border: #000 1px solid;
      padding: 10px;
      display: flex;

      h3 {
        font-size: 32px;
        margin: 10px 0;
        align-self: center;

        a{
          text-decoration: none;
          color: #338;
        }
      }

      small {
        font-size: 14px;
        margin-left: auto;
        align-self: flex-end;
      }
    }
  }
}